// Fonts Variables

$primaryFont: "Outfit";

$bold: 700;
$extrabold: 800;
$semibold: 600;
$medium: 500;
$normal: 400;
$thin: 300;

// Colors Variables

$primaryColor: #FF4601;

$black: #3F3F3F;
$white: white;

// Container Variables

$containerWidth: 1200px;
$containerPadding: 30px;